$gwidth             = 1000px

$glinkerColor       = #012fdd
$glinkerHoverColor  = #ff6567

$gsiteColor         = #3dbee8
$gsiteBorderColor   = #e2e2e2


$gportalSiteColor   = $gsiteColor

$modalBtnBgColor    = #3dbee8
$modalBtnBarBgColor = #e9f6ff