extends ../../layout/common.jade
block head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/animation.css')

block main-content
	.sphere-container
		.sphere#J-sphere
			var r = 16
			while r--
				.ring
					- var p = 24
					while p--
						.pic


		.flyin-pic#J-flyPic
				

append floor-script
	script(src = '#{jsRoot}/app/cartoon.js')