<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/show.css">
  </head>
  <body>
    <div id="main" class="J-main">
      <div id="J-showContainer" style="background: url('../../images/all/bg-bullet.jpg') 0 0 no-repeat" class="show-container">
        <div class="bullet-channel-list">
          <div class="bullet-channel J-bulletChannel"></div>
          <div class="bullet-channel J-bulletChannel"></div>
          <div class="bullet-channel J-bulletChannel"></div>
          <div class="bullet-channel J-bulletChannel"></div>
          <div class="bullet-channel J-bulletChannel"></div>
          <div class="bullet-channel J-bulletChannel"></div>
        </div>
        <div id="J-bulletTitle0" class="show-bullet-title0"></div>
        <div id="J-bulletTitle" class="show-bullet-title"></div>
        <div id="J-bulletPhoto" class="show-bullet-photo"></div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/jquery/jquery.js"></script>
  <script src="../../scripts/lib/underscore/underscore-min.js"></script>
  <script src="../../scripts/lib/gsap/src/minified/TweenMax.min.js"></script>
  <script>
    var gShowPhotosOfKeyboard = {
    	//- 企咨部《口岸笑谈》  - 1
    	"49": {
    		pics: [
    				"../../images/show/49/1.jpg",
    				"../../images/show/49/2.jpg",
    				"../../images/show/49/3.jpg",
    				"../../images/show/49/4.jpg",
    				"../../images/show/49/5.jpg",
    				"../../images/show/49/6.jpg",
    				
    				"../../images/show/49/7.jpg",
    				"../../images/show/49/8.jpg",
    				"../../images/show/49/9.jpg",
    				"../../images/show/49/10.jpg",
    				"../../images/show/49/11.jpg",
    				"../../images/show/49/12.jpg",
    				
    				"../../images/show/49/13.jpg",
    				"../../images/show/49/14.jpg",
    				"../../images/show/49/15.jpg",
    				"../../images/show/49/16.jpg",
    				"../../images/show/49/17.jpg",
    				"../../images/show/49/18.jpg",
    				
    				"../../images/show/49/19.jpg",
    				"../../images/show/49/20.jpg",
    				"../../images/show/49/21.jpg",
    				"../../images/show/49/22.jpg",
    				"../../images/show/49/23.jpg",
    				"../../images/show/49/24.jpg",
    
    				"../../images/show/49/25.jpg",
    				"../../images/show/49/26.jpg",
    				"../../images/show/49/27.jpg",
    				"../../images/show/49/28.jpg",
    				"../../images/show/49/29.jpg",
    				"../../images/show/49/30.jpg",
    
    				"../../images/show/49/31.jpg",
    				"../../images/show/49/32.jpg",
    				"../../images/show/49/33.jpg",
    				"../../images/show/49/34.jpg",
    				"../../images/show/49/35.jpg",
    				"../../images/show/49/36.jpg",
    				"../../images/show/transparent.png",
    				"../../images/show/49/1.png",
    				"../../images/show/49/2.png",
    				"../../images/show/49/3.png",
    				"../../images/show/49/4.png",
    				"../../images/show/49/5.png",
    				"../../images/show/49/6.png",
    				"../../images/show/49/7.png",
    				"../../images/show/49/8.png",
    				"../../images/show/49/9.png",
    				"../../images/show/49/10.png",
    				"../../images/show/49/11.png",
    				"../../images/show/49/12.png"
    			  ],
    		auto: false,
    		loop: false
    	},
    	//- 融易通销售部《宫里的那些事》  - 2
    	"50": {
    		pics: [
    			"../../images/show/50/1.jpg"
    			,"../../images/show/transparent.png"
    		],
    		auto: false,
    		loop: false
    	},
    	//- 义乌办《电商换市》  - 3
    	"51": {
    		pics: [
    			"../../images/show/51/1.jpg",
    			"../../images/show/51/2.jpg",
    			"../../images/show/51/3.jpg"
    			,"../../images/show/transparent.png"
    			],
    		auto: false,
    		loop: false
    	},
    	//- 融易通大客户+行政《万万没想到》  - 4
    	"52": {
    		pics: [
    				"../../images/show/52/1.jpg",
    				"../../images/show/52/2.jpg",
    				"../../images/show/52/3.jpg",
    				"../../images/show/52/4.jpg",
    				"../../images/show/52/5.jpg",
    				"../../images/show/52/6.jpg"
    				,"../../images/show/transparent.png"
    			  ],
    		auto: false,
    		loop: false
    	},
    
    	//- 风筝队  - 5
    	"53": {
    		pics: [
    				"../../images/show/53/1.jpg",
    				"../../images/show/53/2.jpg",
    				"../../images/show/53/3.jpg",
    				"../../images/show/53/4.jpg",
    				"../../images/show/53/5.jpg"
    				,"../../images/show/transparent.png"
    			  ],
    		auto: false,
    		loop: false
    	}
    }
    
  </script>
  <script src="../../scripts/lib/loadimage/load-image.js"></script>
  <script src="../../scripts/app/face.js"></script>
  <script src="../../scripts/app/bullet.js"></script>
  <script src="../../scripts/app/action.js"></script>
</html>