<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/cup.css">
  </head>
  <body>
    <div id="main" class="J-main">
      <div style="background-image: url('../../images/all/bg-ceremony.jpg');" class="cup-container">
        <div class="ceremony-title"></div>
        <div class="ceremony-light left"></div>
        <div class="ceremony-light right"></div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/jquery/jquery.js"></script>
  <script src="../../scripts/lib/underscore/underscore-min.js"></script>
  <script src="../../scripts/lib/gsap/src/minified/TweenMax.min.js"></script>
  <script src="../../scripts/app/action.js"></script>
</html>