<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/show.css">
  </head>
  <body>
    <div id="main" class="J-main">
      <div style="background: url('../../images/all/bg-dashang1.jpg') 0 0 no-repeat" class="show-container">
        <div class="ds-music">
          <audio id="J-coinMusic" src="../../music/gold.mp3"></audio>
        </div>
        <div class="ds-total">
          <div id="J-total" data-original-val="1568" class="num"><span class="txt J-dsNumItem">0</span><span class="txt J-dsNumItem">0</span><span class="txt">,</span><span class="txt J-dsNumItem">0</span><span class="txt J-dsNumItem">0</span><span class="txt J-dsNumItem">0</span></div>
          <div class="name"><span class="txt">《拍档组合名》</span></div>
        </div>
        <div id="J-coin" class="ds-coin"></div>
        <div class="ds-record">
          <div class="wrap">
            <ul id="J-dsRecordList" data-get-ds-url="/cgoWeixin/screen/rewardShow!getRewardInfoListByShowId.jspa?candId=41" class="record-list">
              <li class="record-item">
                <div class="record-cont"><span class="nickname">陈小明</span><span class="coin">打赏<em>100</em>金币</span></div>
              </li>
              <li class="record-item">
                <div class="record-cont"><span class="nickname">陈小明</span><span class="coin">打赏<em>100</em>金币</span></div>
              </li>
              <li class="record-item">
                <div class="record-cont"><span class="nickname">陈小明</span><span class="coin">打赏<em>100</em>金币</span></div>
              </li>
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/jquery/jquery.js"></script>
  <script src="../../scripts/lib/underscore/underscore-min.js"></script>
  <script src="../../scripts/lib/gsap/src/minified/TweenMax.min.js"></script>
  <script src="../../scripts/app/dashang.js"></script>
  <script src="../../scripts/app/action.js"></script>
</html>