<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/cup.css">
  </head>
  <body>
    <div id="main" class="J-main">
      <div style="background: url('../../images/all/bg-prize.jpg') 0 0 no-repeat" class="cup-container">
        <div class="prize-container">
          <div class="prize-name third-winner J-prizeWinner">节目要在地</div>
          <div class="prize-name second-winner J-prizeWinner">节目要在地</div>
          <div class="prize-name first-winner J-prizeWinner">节目要在地</div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/jquery/jquery.js"></script>
  <script src="../../scripts/lib/underscore/underscore-min.js"></script>
  <script src="../../scripts/lib/gsap/src/minified/TweenMax.min.js"></script>
  <script src="../../scripts/app/prize.js"></script>
  <script src="../../scripts/app/action.js"></script>
</html>