<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/cup.css">
  </head>
  <body>
    <div id="main" class="J-main">
      <div style="background: url('../../images/all/bg-ruwei.jpg') 0 0 no-repeat" class="cup-container">
        <div class="rw-show-pics">
          <div data-show-id="1" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/1.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="2" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/2.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="3" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/3.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="4" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/4.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="5" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/5.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="6" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/6.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="7" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/7.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="8" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/8.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="9" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/9.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="10" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/10.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="11" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/11.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
          <div data-show-id="12" class="pic-item J-showCardItem">
            <div class="pic-frame">
              <div class="frame-card J-card">
                <div style="background-image: url(../../images/team/12.jpg)" class="card-face front"></div>
                <div class="card-face back"></div>
              </div>
              <div class="frame-name">最多五个字</div>
            </div>
          </div>
        </div>
        <div class="rw-columns">
          <div class="column J-column">
            <div class="column-container">
              <div class="pillar">
                <div class="pillar-hd">
                  <div class="monkey J-doll"></div>
                </div>
                <div class="pillar-bd">
                  <div class="pillar-num">0</div>
                </div>
                <div class="pillar-ft"></div>
              </div>
              <div class="show-name"> </div>
            </div>
          </div>
          <div class="column J-column">
            <div class="column-container">
              <div class="pillar">
                <div class="pillar-hd">
                  <div class="monkey J-doll"></div>
                </div>
                <div class="pillar-bd">
                  <div class="pillar-num">0</div>
                </div>
                <div class="pillar-ft"></div>
              </div>
              <div class="show-name"> </div>
            </div>
          </div>
          <div class="column J-column">
            <div class="column-container">
              <div class="pillar">
                <div class="pillar-hd">
                  <div class="monkey J-doll"></div>
                </div>
                <div class="pillar-bd">
                  <div class="pillar-num">0</div>
                </div>
                <div class="pillar-ft"></div>
              </div>
              <div class="show-name"> </div>
            </div>
          </div>
          <div class="column J-column">
            <div class="column-container">
              <div class="pillar">
                <div class="pillar-hd">
                  <div class="monkey J-doll"></div>
                </div>
                <div class="pillar-bd">
                  <div class="pillar-num">0</div>
                </div>
                <div class="pillar-ft"></div>
              </div>
              <div class="show-name"> </div>
            </div>
          </div>
          <div class="column J-column">
            <div class="column-container">
              <div class="pillar">
                <div class="pillar-hd">
                  <div class="monkey J-doll"></div>
                </div>
                <div class="pillar-bd">
                  <div class="pillar-num">0</div>
                </div>
                <div class="pillar-ft"></div>
              </div>
              <div class="show-name"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../scripts/lib/jquery/jquery.js"></script>
  <script src="../../scripts/lib/underscore/underscore-min.js"></script>
  <script src="../../scripts/lib/gsap/src/minified/TweenMax.min.js"></script>
  <script src="../../scripts/app/ruwei.js"></script>
  <script src="../../scripts/app/action.js"></script>
</html>