$gd = 16px

.grid-container
	position: absolute;
	width: 100%
	height 100%
	left 0
	top 0
	perspective: 800;
	perspective-origin(50%)
	> .cell
		float: left
		width: $gd
		height $gd
		border: 1px solid rgba(255,0,0,.6)
		// margin-left: -1px
		// margin-top: -1px
		&.selected
			background: blue