$r = 300px
$n = 300
$c = 9


$w = 20px
$h = 20px



.sphere
.dot
.dot:before
    position: absolute;
    top 50%
    left 50%
    transform-style: preserve-3d;


.dot
	&:before
        margin: -($w/2);
        width: $w;
        height: $h;
        background: rgba(0,255,125, .8);
        animation-direction: alternate-reverse;
        content: '';
for num in (0..$n)
    $a = unit(math(0, 'random')*180*2,'deg')
    $b = unit(math(0, 'random')*180*2,'deg')
    .dot:nth-child({num + 1})
        transform: rotateX(45deg) rotateY($a) rotateX($b) rotate(0deg) translate(0) translateZ($r) rotate(0deg) rotateX(0 - $b) rotateY(0 - $a) rotateX(-45deg)