.placeholder
    position: relative
    display: inline-block
    vertical-align: top
    zoom: 1
.placeholder-text
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    color: #ccc
    z-index: 50000
    em
        display: block
        font-style: normal
        margin-left: 5px
