extends ../../layout/common.jade
block head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/animation.css')

block main-content
	.grid-container#J-gridContainer(style="background: url('#{imgRoot}/all/bg6.png') 50% 50% no-repeat")


append floor-script
	script(src = '#{jsRoot}/app/grid.js')