$lightWidth = 536px
$lightSwingDuration = 4s
.ceremony-title
	position: absolute;
	left 50%
	top 50%
	z-index: 2
	width 1295px
	height 229px
	margin-top: -169px
	margin-left: -651px
	background: url(../images/all/ceremony-title.png) 0 0 no-repeat
.ceremony-light
	position: absolute;
	top -10px
	z-index: 1
	width: 536px
	height: 499px
	background: url(../images/all/ceremony-light.png) 0 0 no-repeat
	transform-origin: 0 0
	&.left
		animation(light-swing $lightSwingDuration infinite linear)
		left 280px
	
	&.right
		right 280px
		transform rotateY(180deg) translateX(-($lightWidth) )
		animation(light-swing-right $lightSwingDuration infinite linear)



@keyframes light-swing
	0%
		transform(rotate(0))
	25%
		transform(rotate(-4deg))
	75%
		transform(rotate(4deg))
	100%
		transform(rotate(0))


@keyframes light-swing-right
	0%
		transform: rotateY(180deg) translateX(-($lightWidth) ) rotate(0) 
	25%
		transform: rotateY(180deg) translateX(-($lightWidth) ) rotate(-4deg)
	75%
		transform: rotateY(180deg) translateX(-($lightWidth) ) rotate(4deg)
	100%
		transform: rotateY(180deg) translateX(-($lightWidth) ) rotate(0)
