.prize-container
	position: relative;
	.prize-name
		position: absolute;
		width: 589px
		height 164px
		line-height: @height
		background: url(../images/all/prize-name-bg.png) 0 0 no-repeat
		font-size: 50px
		text-align: center;
		color #fff
		opacity: 0
		&.first-winner
			top 190px
			left 407px
		&.second-winner
			top 296px
			left 110px
		&.third-winner
			top 354px
			left 700px