*
	box-sizing: border-box

body
	font-size 62.5%
	font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif
	// background: url(../images/common/bg.png) repeat 0 0
table
	width: 100%
	border-collapse: collapse
	border-spacing: 0
form
	margin 0
ul
	list-style: none
	margin 0
	padding 0

p
	margin 0

a
	color $glinkerColor
	cursor: pointer
	text-decoration: none
	&:hover
		color $glinkerHoverColor
		text-decoration: underline

:-ms-input-placeholder
	color #ccc
:-moz-placeholder
::-moz-placeholder
	color #ccc
::-webkit-input-placeholder
	color #ccc