.bullet-channel-list
	position: relative;
	z-index: 3
	.bullet-channel
		position: relative;
		height: 60px
		line-height: @height
		.bullet-txt
			position: absolute;
			right 0
			top 0
			color #fff
			font-size: 24px
			text-shadow: 1px 1px 1px black
			> img
				vertical-align: middle
				&.bullet-face
					width 24px
					height 24px
				&.bullet-avatar
					width 32px
					height 32px
					margin-right: 5px

.show-bullet-title0
	position: absolute;
	left 488px
	top 260px
	z-index: 1
	height 262px
	width: 477px
	opacity: 0.4
	// margin-left -(@width/2)
	// margin-top: -(@height/2)
	background: url(../images/all/bullet-title-bg0.png) 0 0 no-repeat


.show-bullet-title
	position: absolute;
	left 518px
	top 320px
	z-index: 1
	height 135px
	width: 515px
	opacity: 0
	// margin-left -(@width/2)
	// margin-top: -(@height/2)
	background: url(../images/all/bullet-title-bg.png) 0 0 no-repeat
	/.black &
		display: none
		




.show-bullet-photo
	position: absolute;
	left 0
	top 0
	z-index: 2
	width 100%
	height 100%
	opacity 0
	
	img
		backface-visibility:hidden
		position:absolute
		width 100%
		height 100%